CaliperSensor.js 1.1.0 index.html file is not working

Hi,
We are using CaliperSensor.js of version 1.1.0. We have downloaded the codebase from 'https://github.com/IMSGlobal/caliper-js-public'. Now when we are running the code, getting several errors like : 
1. Cannot read property 'Client' of undefined at index.html (line no. 19) 
Like this, getting several errors.
Also, no send() method is there in CaliperSensor.js file but from index.html page, there is a function call of send().

Also, we need to send header information for authorization to CaliperSensor.js. Please suggest how to send that information from index.html.
Please found below code snippet which is available in CaliperSensor.js
var options = {
  uri: null,
  method: "POST",
  headers: {
    "Authorization": null,
    "Content-Length": null,
    "Content-Type": "application/json"
  },
  body: null,
  timeout: 10000
};

Thanks,
Sayantani


Reviewing.

The `index.html` file is an out-of-date, incomplete example test file that slipped past our review.  We are in the process of cutting a caliper-js 1.1.1 patch release that removes the file, the redundant grunt-http-server package, and updates the README with a more detailed description of how to utilize caliper-js to generate events and entity describes.

As for setting the Authorization Header, that's for you to work out with whatever your endpoint requires.  Per the spec, set the string value to a bearer token using the "Bearer" authentication scheme described in RFC 6750, Section 2.1 (e.g., Authorization: Bearer <token value>).

Below is a rough outline of how to utilize caliper-js to send an Event (in an Envelope):

```javascript
// Initialize Sensor
sensor.initialize("my_sensor_id");

// Override default HTTP options
options.uri = "https://caliper/target/endpoint";
options.headers["Authorization"] = "40dI6P62Q_qrWxpTk95z8w";

// Initialize and register client
client.initialize("my_client_id", options);
sensor.registerClient(client);

// Event property values (only required property assignments shown)
var actor = entityFactory().create(Person, {id: "https://example.edu/users/554433"});
var action = actions.started.term;
var obj = entityFactory().create(Assessment, {
  id: "https://example.edu/terms/201801/courses/7/sections/1/assess/1",
  dateToStartOn: moment.utc("2018-08-16T05:00:00.000Z"),
  dateToSubmit: moment.utc("2018-09-28T11:59:59.000Z"),
  maxAttempts: 1,
  maxScore: 25.0
});

// ... Perform additional Event property assignments ...

// Create Event and/or Entity describe
var event = EventFactory().create(AssessmentEvent, {
  id: id,
  actor: actor,
  action: action,
  object: obj,
  eventTime: new Date().toISOString(),
  edApp: edApp,
  group: group,
  membership: membership,
  session: session
});

// ... Create additional Events and/or Entity describes ...

// Create data payload
var payload = [];
payload.push(event);

// Envelope options
var opts = {
  sensor: sensor.id,
  sendTime: new Date().toISOString(),
  dataVersion: "http://purl.imsglobal.org/ctx/caliper/v1p1",
  data: payload
};

// Create envelope with data payload
var envelope = sensor.createEnvelope(opts);

// Delegate transmission responsibilities to client
sensor.sendToClient(client, envelope);
```

Hi,
Thanks for your comment.
Could you please provide us a tentative date when we can get the updated version of CaliperSensor1.1.1.js?

Thanks,
Sayantani

Released today.